/*
    Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}
/*
    General
*/
.container1 {
    width: 62%;
    margin: 0 auto;
}

.container2 {
    width: 80%;
    margin: 0 auto;
    margin-left: 20%;
}

a {
    color: #52B6DF;
}
/*
Head
*/
.space {
    margin: 2%;
} 

h1 {
    color: #E53170;
}

.text {
    text-align: center;
}
/*
    Main
*/
img {
    width: 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.collums{ 
    width: 25%;
    float: left;
    margin: 1%;
    background-color: #0F0E17;
}

h2,
.description {
    color: white;
    padding: 1%;
    margin-left: 29%;
}
a {
    margin-left: 4%;
}
img {
    float: left;
}