/*
    Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}
/*
    General
*/
.container {
    width: 80%;
    margin: 0 auto;
}
/*
Head
*/
.space {
    margin: 4%;
} 

h1 {
    color: #E53170;
}

.text {
    text-align: center;
}
/*
    Main
*/
img {
    width: 100px;
    margin-right: 60px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.collums{ 
    width: 30%;
    text-align: left;
    float: left;
    margin: 1%;
}